.git
.terraform
.terraform.d
.kitchen
terraform.tfstate.d
test/fixtures/*/.terraform
test/fixtures/*/terraform.tfstate.d


.vscode
.github
.idea
.readmes
/artifacts
/dependencies
/logs
.env.qa
.template.env
*.sh
**/*.env
**/output-*
**/backup/*
